{% extends "recipes/layout.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'recipes/css/add.css' %}">
{% endblock %}

{% block body %}
    <h1>Add a Recipe</h1>

    <form action="{% url 'recipes:add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="recipe">
            <h2>Recipe Details:</h2>
            <ul>
                <label for="title">Title:</label>
                <li id="title">{{ recipeForm.title }}</li><br>
                <li id="image" class="detail">{{ recipeForm.image }}</li>
                <li id="cuisine">{{ recipeForm.cuisine }}</li><br>
                <li id="meal">{{ recipeForm.meal }}</li><br>
                <li id="info">{{ recipeForm.info }}</li><br>
                <li id="prep_time">{{ recipeForm.prep_time }}</li><br>
                <li id="cook_time">{{ recipeForm.cook_time }}</li><br>
                <li id="servings">{{ recipeForm.servings }}</li><br>
            </ul>
        </div>
        <br>
        <br>
        <div class="ingredients">
            <h2>Add Ingredients</h2>
            <ul class="ingredients">
                <li>{{ingredientForm.name}}</li>
                <li>{{ingredientForm.quantity}}</li>
                <li>{{ingredientForm.measurement}}</li>
                <button type="submit">Add another</button>
            </ul>
        </div>

        <div class="instruction">
            <h2>Add Instructions</h2>
            <ol class="instructions">
                <li>{{instructionForm.instruction}}</li>
                <button type="submit">Add another</button>
            </ol>
        </div>

        <input type="submit">
    </form>
{% endblock %}