{% extends "recipes/layout.html" %}
{% load static %}

{% block body %}
{% load crispy_forms_tags %}
    <h1>Add a Recipe</h1>

    <form action="{% url 'recipes:add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
    <br>
    <br>
    <h2>Add Ingredients</h2>
    {{ ingredient_formset.management_form }}
    {% for form in ingredient_formset %}
    {{ form|crispy }}
    {% endfor %}

    <h2>Add Instructions</h2>
    {{ instruction_formset.management_form }}
    {% for form in instruction_formset %}
    {{ form|crispy }}
    {% endfor %}
    <button type="submit">Submit</button>
    </form>
{% endblock %}