{% extends "recipes/layout.html" %}
{% load static %}
 
{% block body %}
<div class="container mt-3">
    <h2 class="text-center py-3">RECIPE BLOG</h2>
  <div class="row">
      <div class="col-lg-8">
        {% for recipe in page_obj %}
        {% if page_obj is None %}
            <h2>No recipes found</h2>
        {% else %}
        {% if forloop.first %}
          <div class="card mb-4">
              <a href="{% url 'recipes:view' slug=recipe.slug %}"><img class="card-img-top-main" src="{{ recipe.image }}" alt="..." /></a>
              <div class="card-body">
                  <div class="small text-muted">{{ recipe.date }}</div>
                  <a href="{% url 'recipes:view' slug=recipe.slug %}"><h2 class="card-title">{{ recipe.title}}</h2></a>
                  <p class="card-text">{{ recipe.description}}</p>
              </div>
          </div>
          <div class="row">
            {% else %}
              <div class="col-lg-6 d-flex align-items-stretch">
                  <div class="card mb-4">
                      <a href="{% url 'recipes:view' slug=recipe.slug %}"><img class="card-img-top" src="{{ recipe.image }}" alt="..." /></a>
                      <div class="card-body d-flex flex-column">
                          <div class="small text-muted">{{ recipe.date }}</div>
                          <a href="{% url 'recipes:view' slug=recipe.slug %}"><h2 class="card-title h4">{{ recipe.title}}</h2></a>
                          <p class="card-text">{{ recipe.description}}</p>
                      </div>
                  </div>
              </div>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
          </nav> 
          
      </div>
      <div class="col-lg-4">
          <div class="card mb-4">
              <div class="card-header">Search</div>
              <div class="card-body py-2">
                  <div class="input-group">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'recipes:index' %}" method="GET">
                      {{ filter.form.search }}
                      <button class="btn btn-dark rounded-pill my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
              </div>
          </div>
          <div class="card mb-4">
              <div class="card-header">Categories</div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="{% url 'recipes:blog' %}?cuisine=American&meal=">American</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=Asian&meal=">Asian</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=Indian&meal=">Indian</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=Mexican&meal=">Mexican</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="{% url 'recipes:blog' %}?cuisine=&meal=Breakfast">Breakfast</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=&meal=Lunch">Lunch</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=n&meal=Dinner">Dinner</a></li>
                              <li><a href="{% url 'recipes:blog' %}?cuisine=&meal=Snack">Snack</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}

