{% extends "recipes/layout.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
 
{% block body %}
    <h1>Recipes</h1>
    <p>Sort by:</p>
    <div class="recipes">
        {% for recipe in recipes %}
        <div class="recipe">
            <img class="recipe_img" src="{{ recipe.image.url }}" alt="Card image cap">
            <div class="recipe_details">
              <h2 class="title">{{ recipe.title }}</h2>
              <span class="prep_time">{{ recipe.prep_time }}</span>
              <span class="cuisine">{{ recipe.cuisine }}</span>
              <a href="{% url 'recipes:view' recipe.id %}" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}