{% extends "recipes/layout.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
 
{% block body %}
  <h1>Recipes</h1>
  <p>Sort by:</p>
  <main role="main" id="main">
    <section class="tiles-a">
      <ul>
        {% for recipe in recipes %}
        <li>
          <a href="#" style="background: src({{recipe.image}}); background-size: cover;" aria-controls="aside" aria-expanded="false">
            <div class="details visually-hidden">
              <img src="{{recipe.image}}" alt="{{recipe.title}}">
              <div class="text-copy wrapper">
                <h3>{{recipe.title}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro tempore, rerum ullam quae rem tenetur officiis eveniet voluptate reprehenderit quibusdam maiores nihil nam, sequi molestias explicabo non quos. Deserunt.</p>
              </div>
            </div>
          </a>
        </li> 
        {% endfor %}     
      </ul>
    </section>
  </main>
  
  <aside role="complementary" id="aside" aria-hidden="true" aria-expanded="false">
    <a href="#" class="close"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/close-white-thin.svg" alt="Close button"><span class="visually-hidden">Return to main content</span></a>
    <div class="aside--details" tabindex="0" aria-live="polite" aria-atomic="true" aria-label="Image details">
      
    </div>
  </aside>
{% endblock %}