{% extends "recipes/layout.html" %}
 
{% block body %}
    <h1>{{ recipe.title }}</h1>
    <span class="card-text">{{ recipe.cuisine }}</span>
    <span class="card-text">{{ recipe.meal }}</span>
    <img class="card-img-top" src="{{ recipe.image }}" style="width: 20em; height: 20em;" alt="Card image cap">

    <ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.name }}</li>
    {% endfor %}
    </ul>

    <ol>
        {% for instruction in recipe.instructions.all %}
            <li>{{ instruction.instruction }}</li>
        {% endfor %}
    </ol>
    

    <a href="{% url 'recipes:update' pk=recipe.id %}">Update Recipe</a>
    <a href="{% url 'recipes:delete' pk=recipe.id %}">Delete Recipe</a>

{% endblock %}