{% extends "recipes/layout.html" %}
 
{% block body %}
<section>
    <div class="container mt-5">
        <div class="row">
            <section class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ recipe.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ recipe.date }}</div>
                        {% comment %} <a href="{% url 'recipes:update' slug=recipe.slug %}">Update Recipe</a>
                        <a href="{% url 'recipes:delete' slug=recipe.slug %}">Delete Recipe</a> {% endcomment %}
                        <!-- Post categories-->
                        {% if recipe.cuisine %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ recipe.cuisine }}</a>
                        {% endif %}
                        {% if recipe.meal %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ recipe.meal }}</a>
                        {% endif %}
                        {% comment %} <div>
                            <p class="fs-5">Servings: {{ recipe.servings }}</p>
                            <p class="fs-5">Prep time: {{ recipe.prep_time }} minutes</p>
                            <p class="fs-5">Cook time: {{ recipe.cook_time }} minutes</p>
                        </div> {% endcomment %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ recipe.image }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ recipe.description }}</p>
                        <h2 class="fw-bolder mb-4 mt-5">Ingredients</h2>
                        <p class="fs-5 mb-4">{{ recipe.ingredients|linebreaks }}</p>
                        <h2 class="fw-bolder mb-4 mt-5">Instructions</h2>
                        <p class="fs-5 mb-4">{{ recipe.instructions|linebreaks }}</p>
                    </section>
                </article>
            </section>
            <div class="col-lg-4 mt-5 py-5">
                <div class="card mb-4">
                    <div class="card-header">Recipe Actions</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{% url 'recipes:update' slug=recipe.slug %}">Update recipe</a></li>
                                    <li id="myBtn"><a href="#">Delete recipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5comment-section justify-content-center">
        <div class="d-flex justify-content-center row">
            <h2 class="text-center">Comments</h2>
            <div class="d-flex flex-column">
                <div class="coment-bottom p-2 px-4">
                    {% if new_comment %}
                    <h2>Your comment has been added.</h2>
                    {% else %}
                    <div class="row add-comment-section mt-4 mb-4">
                        <h3 class="col-12">Add a comment</h3>
                        <div class="row">
                            <div class="form-inline"><form action="{% url 'recipes:comment' slug=recipe.slug %}" method="post" class="form-inline my-2 my-lg-0">
                                {% comment %} <img class="img-fluid img-responsive rounded-circle mr-2" src="https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png" width="38"> {% endcomment %}
                                {% csrf_token %}
                                {{ comment_form.name.label_tag }} {{ comment_form.name }}
                                {{ comment_form.comment.label_tag }} {{ comment_form.comment}}
                                <input type="submit" value="Comment" class="btn btn-primary rounded-pill commentBtn">
                            </form></div>
                        </div>
                    </div>
                    {% endif %}
                    {% for comment in comments %}
                    <div class="commented-section mt-2 px-3">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2">{{ comment.name }}</h5><span class="mb-1 ml-2 px-2">{{ comment.created }}</span>
                        </div>
                        <div class="comment-text-sm"><span>{{ comment.comment }}</span></div>
                        <div class="reply-section">
                            <div class="d-flex flex-row align-items-center voting-icons px-1"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2 px-1">10</span>
                                <h6 class="px-2 ml-2 mt-1">Reply</h6>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container">
            <span class="close">&times;</span>
            <h2>Are you sure you want to delete "{{recipe.title}}"?</h2>
            <div class="container modal-footer text-center">
                <a href="{% url 'recipes:view' slug=recipe.slug %}"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></a>
                <form action="{% url 'recipes:delete' slug=recipe.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="Confirm" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}
            {% comment %} <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% if new_comment %}
                        <h2>Your comment has been added.</h2>
                        {% else %}
                        <h2>Add a new comment</h2>
                        <form action="{% url 'recipes:comment' pk=recipe.id %}" method="post">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <p><input type="submit" value="Comment"></p>
                        </form>
                        {% endif %} {% endcomment %}
                        <!-- Comment form-->
                        {% comment %} <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form> {% endcomment %}
                        <!-- Comment with nested comments-->
                        {% comment %} <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} {% for comment in comments %}
                        <div class="comment">
                            <p class="info">
                            {{ comment.name }}
                            {{ comment.created }}
                            </p>
                            {{ comment.body|linebreaks }}
                        </div>
                        {% empty %}
                        <p>There are no comments yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div> {% endcomment %}
        <!-- Side widgets-->
        {% comment %} <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div> {% endcomment %}
