

// html {
//     overflow: auto;
// 	min-height:100%;
// }

// body {
// 	overflow: auto;
// 	margin: 0;
// 	height: 100vh;
// 	background: #C9D6FF;  /* fallback for old browsers */
// 	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

body {
	// background: #ECE9E6;  /* fallback for old browsers */
	// background: -webkit-linear-gradient(to bottom, #ECE9E6, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to bottom, #ECE9E6, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// //navbar
nav {
	padding: 30px;
}


.input-group {
	.form-control {
		float: left;
		width: 80%;
	}
	form {
		width: 100%;
		float: left;
	}

	button {
		float: right;
	}
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.site-wrap {
	max-width: 700px;
	margin: 100px auto;
	background: white;
	padding: 40px;
	text-align: justify;
}

.align-left {
	float: left;
	margin-right: 20px;
}

.align-right {
	float: right;
	margin-left: 20px;
}

.slide-in {
	opacity: 0;
	transition: all .5s;
}

.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}

.modal-footer {
	justify-content: center;
	align-self: center;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

.comment-section {
	width: 100vw;
	padding: 30px;
	div {
		background-color: inherit;
	}

	form {
		width: 600px;
	}

	.commentBtn {
		float: right;
	}
}

// //home
// @import url(https://fonts.googleapis.com/css?family=Montserrat:500);

// :root {
// 	/* Base font size */
// 	font-size: 10px;
// }

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }


// .landing {
// 	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXBFtbPAZiX9hY51pjwd9OnOEz9GBrXkj4Kw&usqp=CAU);
// }

// .container {
// 	max-width: 100rem;
// 	margin: 0 auto;
// 	padding: 0 2rem 2rem;
// }

// .heading {
// 	font-family: "Montserrat", Arial, sans-serif;
// 	font-size: 4rem;
// 	font-weight: 500;
// 	line-height: 1.5;
// 	text-align: center;
// 	padding: 3.5rem 0;
// 	color: #1a1a1a;
// }

// .heading span {
// 	display: block;
// }

// .gallery {
// 	display: flex;
// 	flex-wrap: wrap;
// 	/* Compensate for excess margin on outer gallery flex items */
// 	margin: -1rem -1rem;
// }

// .gallery-item {
// 	/* Minimum width of 24rem and grow to fit available space */
// 	flex: 1 0 24rem;
// 	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
// 	margin: 1rem;
// 	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
// 	overflow: hidden;
// }

// .gallery-image {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// 	transition: transform 400ms ease-out;
// }

// .gallery-image:hover {
// 	transform: scale(1.15);
// }

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

// @supports (display: grid) {
// 	.gallery {
// 		display: grid;
// 		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
// 		grid-gap: 2rem;
// 	}

// 	.gallery,
// 	.gallery-item {
// 		margin: 0;
// 	}
// }

*, *:before, *:after {
    box-sizing: inherit;
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

// footer {
// 	position: absolute;
//   	bottom: 0;
//   	width: 100vw;
// }